body {
    padding: 30px;
    margin: 30px;
    background: linear-gradient(#65B9FDFF, #a6d4fa, #d0e7ff);
    font-family: 'Cooper Black', monospace;
}

hr {
    margin: 1em 0;
    border: 1px solid #1877f8;
    box-shadow: 0 1px #022c51;
    border-radius: 30px;
}

h1 {
    font-weight: 100;
    font-size: 2.8em;
    color: #123755;
}

.f {
    display: flex
}

.fa {
    flex: 1 1 auto
}

.x {
    width: 100%
}

.mt1 {
    margin-top: 1em;
}

.s2 {
    font-size: 2em
}

.ac {
    text-align: center
}

.hue {
    filter: hue-rotate(197deg)
}

.label-spacing {
    margin-bottom: 2em;
    margin-top: -0.8em;
}

.container {
    padding-top: 5em;
    width: 27em;
    margin: 0 auto;
}

.controls {
    position: absolute;
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
}

/*Piano*/
#keys {
    height: 14em;
    display: flex;
    flex: 8;
    justify-content: center;
    background: rgb(49, 104, 158);
    border: 2px solid rgba(205, 201, 212, 0.58);
    box-shadow: inset 0 2px 0 0 rgba(23, 90, 121, 0.68);
    padding: 4em 1em 1em 1em;
    border-radius: 30px;
    margin-bottom: 1em;
}

#visualizer {
    justify-content: center;
    min-width: 25em;
    background: rgb(255, 255, 255);
    border: 2px solid rgba(205, 201, 212, 0.58);
    box-shadow: inset 0 2px 0 0 rgba(23, 90, 121, 0.68);
    padding: 1em 1em 1em 1em;
    border-radius: 30px;
    margin-bottom: 1em;
}
#song_names{
    min-width: 27em;
    height: 3em;
    background: rgba(255, 255, 255, 0.7);
    border: 5px solid #0986c9;
    box-shadow: 0 0 4px #144a8d;
    border-radius: 20px;
    margin-bottom: 1em;
}

#timeSlide-Button, #CurrentTime, #EndingTime, #volume-button, #playbackRate {
    max-width: 17em;
}

.dropdown {
    min-width: 27em;
    height: 2em;
    background: rgba(255, 255, 255, 0.7);
    border: 5px solid #083a76;
    box-shadow: 0 0 4px #144a8d;
    border-radius: 15px;
    margin-bottom: 1em;
}

/*Keys*/
.note {
    flex: 1;
    display: inline-flex;
    align-items: center;
}

.ebony {
    justify-content: center;
    position: relative;
    height: 8em;
    background-color: #090101;
    box-shadow: 0 4px #68686c;
    border: 2px solid #090808;
    border-top: 5px solid #000000;
    color: #ffffff;
    width: 8%;
    margin: 0 -6.2%;
    border-radius: 0 0 0.5em 0.5em;
}

.ivory {
    flex-flow: column;
    justify-content: flex-end;
    height: 12em;
    border: 2px solid #bce1ff;
    border-top: 5px solid #000000;
    background: #fffef6;
    box-shadow: 0 6px #a1a1ad;
    border-radius: 0 0 0.5em 0.5em;
    padding-bottom: 0.25em;
    color: #060609;
}

.ivory:active, .ebony:active, div#E:active, .active {
    background: #72c5fc;
    box-shadow: 0 3px #ffffff;
    transition: 0.1s;
}

div#E {
    margin-right: 4px;
    background: #ffffff;
}

/*SavedTitelControl*/
.savedTitel {
    display: flex;
    flex-direction: row;
    min-width: 26em;
    min-height: 15em;
    background: rgba(255, 255, 255, 0.7);
    border: 5px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 4px #144a8d;
    border-radius: 30px;
    margin-bottom: 1em;
}

.menu-button {
    margin-right: 40px;
    padding: 10px;
}


.allFeatures{
    padding-top: 0.5em;
    padding-left: 0.5em;
    min-width: 26em;
    max-height: 15em;
    background: rgba(255, 255, 255, 0.7);
    border: 5px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 4px #144a8d;
    border-radius: 20px;
    margin-bottom: 1em;
}

::placeholder {
    color: #000000;
    font-family: 'VT323', cursive;
}

span{
    margin-top: -20em;
    font-size: 1.3em;
    margin-bottom: 1em;
}

button {
    background: #65b9fd;
    color: #083a76;
    border: 3px solid #cecece;
    border-right-color: #9b9b9b;
    border-bottom-color: #9b9b9b;
    border-radius: 8px;
    padding: 0.25em;
    box-shadow: 0 3px #043979;
    font-family: 'VT323', serif;
    font-size: 1em;
    margin-bottom: 1em ;
}

button#snare {
    background: #2ae2fa;
    font-size: 0.9em;
    padding: 0.5em 0.5em;
    border-radius: 30px;
}

button#kick {
    background: #2559ff;
    font-size: 0.9em;
    padding: 0.5em 0.5em;
    border-radius: 30px;

}

button#snapKick {
    background: #5903f8;
    font-size: 0.9em;
    padding: 0.5em 0.5em;
    border-radius: 30px;

}

button#stopAllBeats-button{
    background: #9a0505;
    font-size: 0.9em;
    padding: 0.5em 0.5em;
    border-radius: 30px;

}

button#start-button, #enableMute-button, #pause-button, #restart-button {
    width: 56px;
    height: 56px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    margin-top: 0.7em;
}

button:focus {
    background: #2eb7f6;
    box-shadow: 0 0 4px #8d1414;
}

button:hover {
    background-color: rgb(101, 241, 255);
}

button:active {
    background: #78f4ff;
    box-shadow: inset -2px -2px 3px rgba(193, 193, 193, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

input, select {
    padding: 0.25em;
    min-width: 13em;
    border-radius: 6px;
    font-size: 1em;
    background: #e5eee4;
    border: 2px solid #cecece;
    border-right-color: #9b9b9b;
    border-bottom-color: #9b9b9b;
    color: #242424;
    font-family: 'VT323', cursive;
    box-shadow: inset 0 0 3px #091658;
}

/* Silder */
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    background: none;
    box-shadow: none;
    border: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5em;
    cursor: pointer;
    background: #ffffff;
    border: 2px solid #083a76;
    border-radius: 6px;
    box-shadow: 0 0 4px #144a8d;

}

input[type=range]::-webkit-slider-thumb {
    border: 3px solid #cecece;
    border-right-color: #9b9b9b;
    border-bottom-color: #9b9b9b;
    height: 1.5em;
    background: #11435a;
    max-width: 0.8em;
    border-radius: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0 3px #022849;
    margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(253, 253, 253, 0.67);
    box-shadow: 0 0 4px #8d1414;

}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1px;
    border: 0 solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #31689e;
    border: 0.2px solid #010101;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
